<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Booleaner</title>
    <link rel="stylesheet" href="../CSS/style.css ">
</head>
<body>
    <header class="container">
        <img src="../img/logo.svg" class="logo" alt="The_Booleaner">
    </header>

<main class="container">
            <h1>Internet deve essere al servizio al servizio del "bene pubblico" : il manifesto di Tim Berners-Lee</h1>
        </div>
        <div class="author">Scritto da <span class="author.name">The Booleaner</span></div>
        <div class="date">il 10/10/2020</div>
        
        <!-- Imagine con descizione -->
        <img src="../img/tim-1.jpg" alt="Immagine-TimBerners-Lee">
        <img src="../img/tim-2.jpg" alt="Immagine-TimBerners-Lee2">
        <div>
             1st Photo: John S. and James L. Knight Foundation, by Scott Henrichsen<br> 2nd Photo: Wikimedia, by Paul Clark
        </div>
        
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
            ad minim veniam, quis nostrud <span class="sottolineatura">exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span> Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
            zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>

        <ul>
        <!-- Elenco puntato -->
            <li>
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </li>
            <li>
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ca commodo consequat.
            </li>
            <li>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </li>
        </ul>

        
         <table class="tabella">
            <!-- tabella -->
            <thead>
                <tr class="intestazione">
                    <th>Lorem ipsum dolor</th>
                    <th>Lorem ipsum dolor</th>
                    <th>Lorem ipsum dolor</th> 
                </tr>
            </thead>
            
            <tbody>
                <tr class="riga"> 
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eos quo,
                        placeat consectetur ullam fugiat similique perferendis repellendus illo mollitia evenier expedia a quia modi. Totam saepe quibusdam natus harum.</td>
                 </tr>
                <tr>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eos quo,
                        placeat consectetur ullam fugiat similique perferendis repellendus illo mollitia evenier expedia a quia modi. Totam saepe quibusdam natus harum.</td>
                </tr>
                <tr class="riga"> 
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eos quo,
                        placeat consectetur ullam fugiat similique perferendis repellendus illo mollitia evenier expedia a quia modi. Totam saepe quibusdam natus harum.</td>
                </tr>      
            </tbody>
        </table>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
            ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex a commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
            vulputate velit esse molestie consequat, vel <span class="sottolineatura">illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto</span> odio dignissim qui blandit praesent luptatum
            zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>
    </main> 

    <footer class="container">
       <h2>Potrebbe interessarti</h2> 
       <div class="background_monitor"><p class="p_posizione"><strong>Lorem ipsum dolor</strong></p></div>
       <div class="background_graph"><p class="p_posizione"><strong>Lorem ipsum dolor</strong></p></div>
    </footer>
</body>
</html>